<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
        bean-discovery-mode="all">
    <alternatives>
        <class>cdi.SlyStudent</class>
    </alternatives>
    <interceptors>
        <class>cdi.InterceptorOneBind</class>
        <class>cdi.InterceptorExtraOneBind</class>
        <class>cdi.InterceptorTwoBind</class>
        <class>cdi.InterceptorThreeBind</class>
    </interceptors>
    <decorators>
        <class>
            cdi.MyDecorator
        </class>
    </decorators>
</beans>